{% extends 'base.html' %} {% block content %} {% if recipes %}

<ul>
  {% for recipe in recipes %}
  <li>
    <a href="recipe/{{recipe.id}}">{{recipe.title}}</a>
    &nbsp; <i>{{recipe.description}}</i>
  </li>
  {% endfor %}
</ul>

{% else %}
<h3>The Recipe Box is empty.</h3>

{% endif %}

<ul>
  <li><a href="/login">Log In</a></li>
  <li><a href="/addrecipe">Add a Recipe</a></li>
  <li><a href="/addauthor">Add an Author</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>

Are you logged in? {{ request.user.is_authenticated }} {% endblock %}
